* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CardBox {
    margin: 30px;
}

.Card {
    background: linear-gradient(teal 40%, green 60%, black 80%);
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    color: darkkhaki;
    margin: 5px;
    margin-top: 25px;
    padding: 5px;
    height: 700px;
    width: 280px;
    text-align: center;
    border-radius: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CardImageFrame{
    border: 4px solid goldenrod;
    margin: 7px;
    border-radius: 10px;
}
.CardImage{
    padding: 0.25em;
    border-radius: 6px;
}
.CardBody{
    background: black;
    padding: 1em;
    height: 23em;
    border-radius: 30% / 10%;
}
.CardTitle{
    color: darkgoldenrod;
    height: 2em;
    font-size: 1.5em;
    text-shadow: 2px 2px 1px darkblue;
}
.CardSubtitle{
    color: dimgray;
    height: 16em;
    font-size: small;
}
.CardText{
    color: honeydew;
    font-size: xx-small;
}

.icons{
    
    color: honeydew;
}

.inspect {
    background: linear-gradient(180deg, 
  rgb(112, 126, 250) 0%, 
  rgba(250, 112, 228, 0.4) 100%);
    border: 4px solid cyan;
    height: 60px;
    width: 180px;
    font-size: large;
    border-radius: 10px;
    color: wheat;
    text-shadow: 2px 2px 1px darkblue;
}

.inspect:hover {
    opacity: 90%;
    transform: scale(1.06);
    cursor: pointer;
    box-shadow: -2px 7px 5px MediumSeaGreen;    
}  

.inspect:active {
    transform: translate(-1px, 1px);
    box-shadow: -2px 4px 2px rgb(21, 252, 4);
    opacity: 90%;  
}

.iconDiv {
    height: 3em;
}

@media (max-width:575px) {
    .Card{
        width: 400px;
        height: 800px;
    }
    .CardText{
        font-size: small;
    }
}

@media (min-width:775px) {
    .Card{
        width: 400px;
        height: 800px;
    }
    .CardText{
        font-size:small;
    }
}

@media (min-width:1200px) {
    .Card{
        width: 220px;
        height: 650px;
    }
    .CardText{
        font-size: xx-small;
    }
}
@media (min-width:1775px) {
    .Card{
        height: 47em;
        width: 320px;
    }
    .CardText{
        font-size: x-small;
    }
}

@media (min-width:2275px) {
    .Card{
        height: 49em;
        width: 370px;
    }
    .CardSubtitle{
        height: 15em;
        font-size: small;
    }
    .CardText{
        font-size: x-small;
    }
}