.Card {
    background: linear-gradient(darkkhaki, green, black);
    display: flex;
    flex-direction: column;
    justify-content: top;
    font-size: calc(5px + 1vmin);
    color: darkkhaki;
    margin: 5px;
    padding: 5px;
    height: 20px + 50vmin;
}
.Card:hover {
    opacity: 70%;
}  
.icons{
    text-align: left;
    color: honeydew;
    margin-bottom: 5px;
}
.CardImageFrame{
    border: 5px solid wheat;
}
.CardImage{
    size-adjust:inherit;
}
.CardBody{
    background: black;
    padding: 1em;
}
.CardTitle{
    color: goldenrod;
}
.CardSubtitle{
    color: dimgray;
}
.CardText{
    color: white;
}